@import "../style.css";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

input, button {
    margin: 5px 0;
    padding: 0 20px;
}

#login-header {
    color: var(--color-foreground-alt);
    font-weight: 900;
}

#login-form {
    margin-top: 5%;
}

#main-holder {
    width: 55%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 3% 10%;
    background-color: var(--color-background-alt);
    border-radius: 5px;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-error-msg {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: small;
    font-weight: bold;
    background-color: var(--color-red);
    opacity: 0;
}

#login-form-submit {
    width: 100%;
    padding: 5px;
    border: none;
    font-weight: bold;
    background-color: var(--color-blue);
    color: var(--color-background);
    cursor: pointer;
    outline: none;
}

@media (max-width: 800px) {
    #main-holder {
        width: 90%;
    }
}