:root {
  --color-background: #e8e9ec;
  --color-background-alt: #dcdfe7;
  --color-foreground: #33374c;
  --color-foreground-alt: #262a3f;
  --color-grid: #262a3f29;
  --color-blue: #2d539e;
  --color-orange: #c57339;
  --color-purple: #7759b4;
  --color-green: #668e3d;
  --color-red: #e27878;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0f1117;
    --color-background-alt: #161821;
    --color-foreground: #c6c8d1;
    --color-foreground-alt: #d2d4de;
    --color-grid: #1618213a;
    --color-blue: #84a0c6;
    --color-orange: #e2a478;
    --color-purple: #a093c7;
    --color-green: #b4be82;
    --color-red: #cc517a;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground-alt);
  font-family: Noto Sans, Arial, sans-serif;
  padding-bottom: 50px;
}

th, td {
  white-space: nowrap;
  padding: 0 10px;
}

.tableTitle {
  font-size: 16px;
  font-weight: 700;
  margin: 1px 1px;
}

svg text {
	fill: var(--color-foreground);
}

.content-area {
  max-width: 95%;
  margin: 0 auto;
}

.box {
  background-color: var(--color-background-alt);
  padding: 20px;
  border-radius: 4px;
}

.columnbox {
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .box {
    padding: 10px;
  }
  .columnbox {
    padding-right: 5px;
  }
}